@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed&display=swap");
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --primary: #f278a1;
    --secondary: #fff389;
    --accent: #10b981;
    --background: #f9fafb;
    --text: #111827;
  }
  body {
    background-color: inherit;
    color: #111827;
    font-family: "Sofia Sans Semi Condensed", sans-serif;
  }
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
    font-family: "Sofia Sans Semi Condensed", sans-serif;
    font-weight: 500;
    line-height: 1.15;
    letter-spacing: -0.022em;
  }
  .container {
    margin: 0 auto;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.super-thin-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.super-thin-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.super-thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: #ec4899; /* pink-500 */
  border-radius: 10px;
}

.scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}
